@page
@model Employee.Mgmt.Pages.CreateCredentialIssuerModel
@{
}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <h3 class="display-6">@ViewData["Title"]</h3>
            <form method="post">
                <div class="field">
                    <div class="control">
                        <button type="submit" class="btn btn-primary">Create Issuer credential</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm">
            <div id="qrcode">
                @if (Model.QrCodePng.Length > 0)
                {
                    <img width="300" src="data:image;base64,@System.Convert.ToBase64String(Model.QrCodePng)" />
                }
            </div>
        </div>
    </div>
</div>

<div>@Model.QrCodeUrl</div>