@page
@model Employee.Mgmt.Pages.CreateCredentialVerifierModel
@{
}

<div class="row d-flex justify-content-center">
    <div class="col-md-8">
        <h3 class="display-6">@ViewData["Title"]</h3>
        <form method="post">

            <div class="field">
                <div class="control">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>

        </form>
    </div>
</div>