@page
@model IndexModel
@{
    ViewData["Title"] = "Swiyu .NET";
}

<div class="text-center">
    <h1 class="display-5">ASP.NET Core, Aspire implementation of swiyu</h1>
</div>


<div class="d-flex flex-wrap">

    <div class="card m-3 shadow-sm" >
        <div class="card-body d-flex flex-column">
            <a href="https://swiyu-admin-ch.github.io/">swiyu technical documentation</a>
        </div>
    </div>

    <div class="card m-3 shadow-sm">
        <div class="card-body d-flex flex-column">
            <a href="https://www.eid.admin.ch/en/public-beta-e">swiyu Public Beta</a>
        </div>
    </div>

     <div class="card m-3 shadow-sm" >
        <div class="card-body d-flex flex-column">
            <a href="https://swiyu-admin-ch.github.io/specifications/interoperability-profile" />swiyu Trust Infrastructure: Interoperability profile</a>
        </div>
    </div>

    <div class="card m-3 shadow-sm">
        <div class="card-body d-flex flex-column">
            <a href="https://swiyu-admin-ch.github.io/cookbooks/onboarding-generic-verifier" />swiyu-admin-ch | Projects | Status Board</a>
        </div>
    </div>

    <div class="card m-3 shadow-sm">
        <div class="card-body d-flex flex-column">

            <a href="https://github.com/orgs/swiyu-admin-ch/projects/2/views/2">Getting started with the swiyu Generic Verifier</a>
        </div>
    </div>

</div>
