@page
@model IndexModel
@{
    ViewData["Title"] = "Swiyu .NET";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core, Aspire implementation of Swiyu</h1>

    <img src="~/swiyu.png" />

    <a href="https://swiyu-admin-ch.github.io/">swiyu technical documentation</a>

    <a href="https://www.eid.admin.ch/en/public-beta-e">swiyu Public Beta</a>

    <a href="https://swiyu-admin-ch.github.io/specifications/interoperability-profile" />swiyu Trust Infrastructure: Interoperability profile</a>

    <a href="https://swiyu-admin-ch.github.io/cookbooks/onboarding-generic-verifier" />swiyu-admin-ch | Projects | Status Board</a>

    <a href="https://github.com/orgs/swiyu-admin-ch/projects/2/views/2">Getting started with the swiyu Generic Verifier</a>

</div>
